*  {
    margin: 0;
    padding: 0 ;
   box-sizing: border-box;
}

body{
  font-size: 14px;
    width: 1550px;
    font-family:Arial, Helvetica, sans-serif
  }
               /* //////////////////////// */

.header{
  display: flex;
   flex-direction: row;
   justify-content:space-evenly;
   align-items: flex-start;
   width: 100%;
    height: 90px; 
    position: fixed; 
    top: 0; 
    z-index: 2;
    background-color: white;
   
   
}
.dropdown{
  position: relative;
  }
  .dropdown-menu{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 355px;
    background-color:aliceblue;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    position: absolute;
  
  }
  .dropdown:hover .dropdown-menu{
      visibility: visible;
      opacity: 1;
  }
  .dropdown-menu ul{
    text-align: left;
}
.dropdown-menu ul li {
    line-height: 0.4px;
}

.list-pr1 li{
  font-size: 15px;
  display:inline-block; 
  padding: 2px;
  list-style: none;
  margin-top: 9px;
  margin-left: 20px;
  color:rgb(100, 58, 3);
  text-align: center;
}

.list-pr1{
  margin-left: 600px;
}

.li1{
  text-decoration:underline;
  color:rgb(100, 58, 3);
  font-size: 15px;
}

.list{
    list-style: none;
}
.icon{
  display:flex;
  flex-direction: row;
}

.icon i{
  font-size: 50px;
}

.icon h1{
  margin-top:50px ;
}

.line{
  height:50px;
  width: 1px;
  color: #D9C1BB;
}


.list li{
  padding: 20px;
  display: inline-block; 
  padding-top: 40px;

}
.list li a{
  text-decoration: none;
  color:#d99c9c; 
  font-size: 17px;
}

.img{
  display:inline ;
  margin-right: 450px;
  width: 150px;
  height: 90px;
}

i{
  color:#d99c9c; 
  padding: 20px;
  font-size: 17px;
  padding-top: 20px;
}

.home{
  height: 100vh;
  background-image: url(../Images/illustration-psychic-waves-experimentation-bold-mental-emotional-spiritual-journey_1008139-7067.avif);
  background-size:100%;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;

}

.home-content {
  width: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -10% ,  -30% );
  text-align: center;
  color:#dc8c8c;
}

.button1{
  border: 2px solid #D8A7A7;
  margin: auto;
  text-align: center;
  width: 100px;
  height: 40px;
  background-color:#dd8d8d;
  border-radius: 5px;
  margin-top: 30px;
  margin-left: 30px;
  color: beige;
}

p{
  font-size: 20px;
}

.Category{
  width: 100%;
  height: 100vh;
 }
 
 .title-gategory{
   text-align: center;
   padding-top: 40px;
 }
 
 .Category-content{
 margin: auto;
 width: 100%;
 color:#dd8d8d;
 }

 
.line-title{
  width: 100px;
  height: 2px;
  background-color: #dd8d8d;
  margin: auto;
  margin-top: 10px;
}
.category-items{
  display: grid;
  grid-template-columns: repeat(4,25%);
  grid-auto-rows: minmax(250px, auto);
  grid-gap: 10px 10px;
}
.product{
  width: 250px;
  height: 300px;
}

.category-item{
  margin-top: 30px;
  margin-left: 30px;
}


.category-item5{
  margin-left:30px ;
  grid-column:1 /3 ;
  flex-direction: column;
  background-color: rgb(244, 244, 234);
}

h5,span{
  padding: 10px;
  color:#e1b3b3 ;
}
h2 ,h4 ,p ,h1{
  color:#dd8d8d ;
}

.lins{
  position: relative;

}

.line{
  width: 100px;
  height: 2px;
  background-color: #dd8d8d; 

  padding: 2px;
  position: absolute;
}
.line1{
  width: 80px;
  height: 2px;
  background-color: #dd8d8d; 
 
  padding: 2px;
  position: absolute;
}
.line2{
  width: 90px;
  height: 2px;
  background-color: #dd8d8d; 

  padding: 2px;
  position: absolute;
}
.category-item6{
  background-image: url(../Images/product1.webp);
  background-size: cover;
  display: flex;
  transition: 1s;
  width: 300px;

}
.category-item6:hover {
  transform: scale( 1.2 , 1.2);
}
.category-item7{
  background-image: url(../Images/16.jpg);
  background-size: cover;
 display: flex;
 background-repeat: no-repeat;
 transition: 1s;
 width: 350px;
 height: 300px;
 
  
}

.discount{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:20px;
  margin-top: 100px;
  color:#D8A7A7;
  
  
}
.category-item7:hover {
  transform: scale( 1.2 , 1.2);
}
.icons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 300px;

}

.icons-items{
  font-size: 40px;
  width: 100px;
  
}

.perant-icon i{
  font-size: 30px;
  margin-left: 40px;
  transition: 1s;

}
.icons-text{
  text-align: center;
  color: #e1b3b3;
}
.perant-icon{
  width: 100px;
  height: 80px;
  position: relative;  
  overflow: hidden;
}
.icon1{
  font-size: 30px;
  margin-left: 40px;
  color: #D9C1BB;
  position: absolute;
  transition: 1s;
  
}
.perant-icon:hover i{
  transform: translateY(-100px);
  opacity: 1;
}
.products{
  display: grid;
  grid-template-columns: repeat(3,32%);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 10px 10px;
}

.line-title:hover{
  width: 200px;
}

.title-prudcts{
  margin: auto;
  margin-left: 670px;
}

.list-icons{
  list-style: none;
}

.list-icons li{
  padding: 2px;
  display: inline-block; 

}
.list-icons i{
  font-size: 15px;
  display: inline-block; 
  padding: 2px;
}

.product-item{
  margin-top: 50px;
  padding-left: 80px;
  width: 350px;
  height: 700px;
  position: relative; 
}
.product-img {
  width: 100%;
  position: relative;

}
.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform:scalex(0);
  opacity: 0.9;
  transition:  1.4s;

}


.product-item:hover .product-overlay{
  visibility: visible;
  opacity: 1;
  transform: scaleX(1);
}

.product-overlay a {
  width: 100px;
  height: 100px;
  margin: auto;
  margin-top: 20px;
}

.product-overlay  a  i {
  line-height: 43px ;
  margin: auto;
  padding-left: 6px;
  color:aliceblue;
  font-size: 16px;
}

.product-info-title {
 padding-top: 10px;
}

.product-info-p {
font-size: 16px;
padding-top: 4px;
}

.social{
  position: absolute;
  left: 0;
  top:0;
  display: flex;
  flex-direction: column;
}

 .icon1{
 margin-left: 220px;
 text-align: center;
 visibility: hidden;
 opacity: 0;
 transition: opacity 0.1;
}

.category-item:hover .icon1{
  visibility: visible;
  opacity: 1;
}
.row{
  display: inline-block;
  width:50px;
  height: 1px;
  background-color: #dc8c8c;
  margin-left: 10px;
}
 .bullets{
  text-align: right;
  position: absolute;
  margin-left: 520px;
  margin-top: 20px;
}
.culmon{
  display: block;
  width:1px;
  height: 50px;
  background-color: #dc8c8c;
 
}




